<div class="container">
  <h2>
    Reporte del Boletín de Deudores Morosos del Estado a la Contaduría General
    de la Nación
  </h2>
  <hr />
  <p>
    El Boletín de Deudores Morosos del Estado - BDME es la relación de las
    personas naturales y jurídicas que a cualquier título, a una fecha de corte,
    tienen contraída una obligación con una entidad pública de cualquier orden o
    nivel, cuya cuantía supera los cinco salarios mínimos mensuales legales
    vigentes (SMMLV) y más de seis (6) meses de mora, o que habiendo suscrito un
    acuerdo de pago, lo haya incumplido.
  </p>
  <br />
  <p>
    En virtud del parágrafo 3º del artículo 2º de la Ley 901 de 2004, y del
    numeral 5º del Art 2º de la Ley 1066 de 2006, todas las entidades públicas
    tienen la obligación de enviar a la Contaduría General de la Nación - CGN,
    el Boletín de Deudores Morosos del Estado - BDME, el cual debe transmitirse
    por el sistema CHIP, en los 10 primeros días de los meses de Junio y de
    Diciembre con fecha de corte 31 de Mayo y 30 de Noviembre respectivamente.
  </p>
  <br />
  <p>
    Con base en la información recibida, la Contaduría General de la Nación
    consolida la información y la publica en la página
    <a href="https://www.contaduria.gov.co/" target="_blank"
      >www.contaduria.gov.co</a
    >
    en el link
    <b><i>Boletín de Deudores Morosos del Estado - BDME.</i></b>
  </p>
  <br />
  <p>
    Para conocer su situación particular frente al BDME, primero debe
    registrarse en el link "Consultas al Boletín de Deudores Morosos del
    Estado", para definir una clave de acceso. Una vez registrado podrá efectuar
    la consulta, digitando el número de identificación. El resultado muestra dos
    secciones, una referente a cualquier deuda morosa (Ley 901 de 2004) y otra
    relacionada con el incumplimiento de acuerdos de pago (Ley 1066 de 2006).
  </p>
  <br />
  <p>
    En el evento de figurar en el BDME, seleccione adicionalmente el link "Guía
    del deudor moroso", digitando el código de la entidad que lo reportó, el
    cual se encuentra a continuación del nombre de la entidad pública (Entidad
    reportante), en el resultado de la consulta. En esa sección podrá establecer
    los datos de contacto para solucionar su situación.
  </p>
  <br />
  <p>
    Teniendo en cuenta que las Entidades Contables Públicas que están incluidas
    en el ámbito de aplicación de la Resolución 354 de 2007 de la CGN,
    modificada por la Resolución 156 de 2018, tienen como obligación el reporte
    del Boletín de deudores morosos del Estado, se informa que las herramientas
    y los instructivos necesarios para ello se encuentran en la pagina Web
    www.chip.gov.co en la sección Información de la Categoría / Archivos de
    ayuda BDME.
  </p>
  <br />
  <p>
    Contáctenos en Bogotá en el PBX (601) 4926400 Ext. 192 o por correo
    electrónico a <b>bdme@contaduria.gov.co</b>
  </p>
</div>
