<h2>Guía del Deudor Moroso del Estado</h2>
<hr />
<br />
<p>
  Si usted ha sido reportado en el Boletín de Deudores Morosos del Estado y
  necesita saber a dónde dirigirse, la Contaduría General de la Nación-CGN, le
  permite determinar los datos de ubicación de la entidad reportante y ciertas
  convenciones utilizadas por algunas entidades en el número de la obligación.
</p>
<br />
<p>Para ello digite el código asignado por la CGN a la entidad reportante.</p>

<div class="row">
  <div class="col-4">
    <p>Código de la entidad reportante:</p>
  </div>
  <div class="col">
    <!-- <input class="form-control" type="text" /> -->
    <mat-form-field>
      <input matInput type="text" placeholder="Código" />
    </mat-form-field>
  </div>
</div>

<div class="row">
  <div class="col">
    <button class="buton" mat-raised-button color="primary">
      Consultar
      <mat-icon>arrow_forward</mat-icon>
    </button>
  </div>
</div>
